<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Ejs</h1>
    <form action="/update/<%= student.id %>" method="post">
        <input type="text" name="name" value="<%= student.name %>" required>
        <button type="submit">Update</button>
    </form>

</body>
</html>